.comments {
  .face img {
    width: 48px;
    height: 48px;
  }

  .comment {
    border-bottom: 1px solid #DDD;
    padding: 8px 10px;
    margin: 0 -10px;
    background: #FFF;
    .content {
      width: 649px;
    }
  }

  .infos {
    padding-left: 10px;
  }
}
