.comments {
  margin-top: 50px;
  .face img {
    width: 48px;
    height: 48px;
  }

  .comment {
    border-bottom: 1px solid #DDD;
    padding: 8px 10px;
    margin: 0 -10px;
    background: #FFF;
    .content {
      margin-top: 3px;
      width: 649px;
    }
  }

  .infos {
    padding-left: 10px;
    .info {
      color: #BBB;
      a {
        color: #BBB;
        margin: 0 10px 0 10px;
        text-decoration: underline;
      }
    }
  }
}

.create_comment {
  margin-top: 50px;
  form {
    position: relative;
  }
  input {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.summary {
  margin-top: 50px;
}
