/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require style
 *= require_self
 *= require_tree .
 */
body {padding-top: 60px;}
.main {
  width: 1080px;
  margin: 0 auto;
}

.proj_description {
  max-width: 400px;
}

.go_top {
  background: #fff;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  text-align: center;
  border:1px solid #eee;
  display:block;
  height:20px; width:24px;
  padding-top:2px; overflow:hidden;
  padding-bottom:2px; overflow:hidden;
  border-radius:6px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}
