/*
 *= require style
 *= require jquery.ui.datepicker
 *= require jquery.ui.slider
 *= require jquery-ui-timepicker-addon
 *= require_tree .
 *= require_self
 */
body {padding-top: 60px;}
.main {
  width: 1080px;
  margin: 0 auto;
}

.proj_description {
  max-width: 400px;
}

.go_top {
  background: #fff;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  text-align: center;
  border:1px solid #eee;
  display:block;
  height:20px; width:24px;
  padding-top:2px; overflow:hidden;
  padding-bottom:2px; overflow:hidden;
  border-radius:6px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.asc_sortable {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url(up.gif);
}
.desc_sortable {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url(down.gif);
}

.avatar_box {
  text-align:center;
  padding-bottom: 10px;
}

.avatar_box img {
  border-radius: 20px;
  box-shadow: 0px 0px 6px hsla(0, 27%, 42%, 0.5);
  width: 100px;
}

.message-box {
  font-size: 12.025px;         
  font-weight: bold;           
  white-space: nowrap;         
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
  margin-top: 12px;
  padding: 0px 6px;
}

.message-box:hover{
  color: #ffffff;
  text-decoration:none;
}

.message-notice{
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #fff;
  background-color: #da4f49;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
  margin-top: 12px;
  padding: 0px 6px;
}

.message-notice:hover{
  color: #fff;
  text-decoration:none;        
}
